a.cards-item(href="#")
  .cards-item-tags
    span.cards-item-tags-tag.cards-item-tags-tag_best Бестселлер
    span.cards-item-tags-tag.cards-item-tags-tag_action Скидка 10%
  .cards-item__img
    img(src="assets/images/filler1.png", alt="")
  .cards-item__title Филлер PRINCESS Rich
  .cards-item-bot
    .cards-item-bot__price 4 900
      span.rub__icon руб.
    .cards-item-bot__btn.btn-background 
      span В корзину 