footer.footer
  .mycontainer
    .footer-row
      .footer-col
        a.footer__title(href="#") Филлеры
        .footer-links
          a.footer__link(href="#") Arawia
          a.footer__link(href="#") Aloha
          a.footer__link(href="#") Hawaiiana
          a.footer__link(href="#") Supertan
          a.footer__link(href="#") Soleo
          a.footer__link(href="#") Hawaiiana
          a.footer__link(href="#") Все
      .footer-col
        a.footer__title(href="#") Каталог
        .footer-links
          a.footer__link(href="#") Средства индивидуальной защиты
          a.footer__link(href="#") Шапочки одноразовые
          a.footer__link(href="#") Халаты одноразовые
          a.footer__link(href="#") Перчатки одноразовые
          a.footer__link(href="#") Маски одноразовые
          a.footer__link(href="#") Антисептики и дезинфекторы
          a.footer__link(href="#") Бахилы
      .footer-col
        a.footer__title(href="#") О нас
        a.footer__title(href="#") Контакты
        a.footer__title(href="#") Цены
        a.footer__title(href="#") Акции
      .footer-col
        .footer__title Будьте всегда первыми в курсе всех наших акций и новостей
        form.footer-subscribe(action="#")
          input(type="email" data-type="email" data-required placeholder="Введите ваш e-mail" required)
          button.btn-background(type="submit") Подписаться
        .footer__email Наша почта: <a href="mailto:admin@beatu-guard.ru">admin@beatu-guard.ru</a>
    .footer-row
      .footer__text Beauty Guard. © 2020
      .footer__text Сделано в <a href="https://ra-studio.ru/">RA-Studio</a>