extends ../template

block variables
  - var title = 'О нас'

block content
  section.about-block
    .mycontainer
      .about-block-col
        h1.h1title О нашей деятельности
        .about-block__subtitle Beauty Guard
        p.about-block__text Одноразовые бахилы с ламинированной подошвой производятся из спанбонда. Однако с внутренней стороны они частично заламинированы полиэтиленовой пленкой. Цвет спанбонда в изделиях – зеленый, полиэтиленовой пленки – белый дноразовые бахилы с ламинированной подошвой производятся из спанбонда. Однако с внутренней стороны они частично бахилы заламинированы полиэтиленовой пленкой. Цвет спанбонда в изделиях – зеленый, бахилы  полиэтиленовой пленки – белый, зеленый, полиэтиленовой пленки – белый дноразовые бахилы с ламинированной подошвой производятся из спанбонда. Однако с внутренней стороны они частично заламинированы полиэтиленовой пленкой. Цвет спанбонда в изделиях – зеленый, полиэтиленовой пленки – белый зеленый, полиэтиленовой пленки – белый дноразовые бахилы с ламинированной подошвой производятся из спанбонда. Однако с внутренней стороны они частично заламинированы полиэтиленовой пленкой. 
      .about-block-col
        img(src="assets/images/about-block.jpg", alt="")

  section.certificates.margin-block
    .mycontainer
      h2.h1title Сертификаты
      p.certificates__text Абсолютно весь наш товар сертифицирован и лицензирован, мы сотрудничаем исключительно с именитыми и надёжными брендами. Наша деятельность также лицензированна в полном соответствии с законодательством РФ
      .certificates-slider.swiper-container
        .certificates-slider-wrap.swiper-wrapper.lightgallery
          a.certificates-slider-item.swiper-slide(href="assets/images/sert.png")
            img(src="assets/images/sert.png", alt="")
          a.certificates-slider-item.swiper-slide(href="assets/images/sert.png")
            img(src="assets/images/sert.png", alt="")
          a.certificates-slider-item.swiper-slide(href="assets/images/sert.png")
            img(src="assets/images/sert.png", alt="")
          a.certificates-slider-item.swiper-slide(href="assets/images/sert.png")
            img(src="assets/images/sert.png", alt="")
          a.certificates-slider-item.swiper-slide(href="assets/images/sert.png")
            img(src="assets/images/sert.png", alt="")
        .swiper-button-prev
        .swiper-button-next