extends ../template

block variables
  - var title = 'Карта сайта'

block content
  .map.margin-block
    .mycontainer
      table.map-table
        tbody
          tr
            td
              a.map-table__link(href="main.html" target="_blank") Главная
          tr
            td
              a.map-table__link(href="catalog.html" target="_blank") Каталог
            td
              a.map-table__link(href="good-siz.html" target="_blank") Карточка товара СИЗ
            td
              a.map-table__link(href="good-filler.html" target="_blank") Карточка товара Филлер
          tr
            td
              a.map-table__link(href="about.html" target="_blank") О нас
          tr
            td
              a.map-table__link(href="price.html" target="_blank") Цены
          tr
            td
              a.map-table__link(href="stock.html" target="_blank") Акции
            td
              a.map-table__link(href="cart.html" target="_blank") Корзина
          tr
            td
              a.map-table__link(href="contacts.html" target="_blank") Контакты
          tr
            td
              a.map-table__link(href="payment.html" target="_blank") Оплата и доставка
            td
              a.map-table__link(href="ordering.html" target="_blank") Оформление
            td
              a.map-table__link(href="purchase.html" target="_blank") Оплата
          tr
            td
              a.map-table__link(href="registration.html" target="_blank") Регистрация
          tr
            td
              a.map-table__link(href="login.html" target="_blank") Авторизация
            td
              a.map-table__link(href="recovery.html" target="_blank") Восстановление пароля
          tr
            td
              a.map-table__link(href="orders.html" target="_blank") История заказов
            td
              a.map-table__link(href="personal.html" target="_blank") Персональные данные
            