.about-block{
  margin-bottom: 100px;
  @include w768 {
    margin-bottom: 68px;
  }
  @include w480 {
    margin-bottom: 52px;
  }
  .mycontainer{
    display: flex;
    @include w768 {
      flex-direction: column;
    }
  }
  &-col{
    flex: 0 0 50%;
    &:first-child{
      padding-right: 24px;
      @include w768 {
        padding-right: 0;
        padding-bottom: 24px;
      }
    }
    &:last-of-type {
      @include w768 {
        height: 217px;
      }
      @include w480 {
        height: 107px;
      }
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include w768 {
        object-position: 0 35%;
      }
    }
  }
  &__title{
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 30px;
  }
  &__subtitle{
    margin-bottom: 16px;
    font-weight: 600;
  }
  &__text{
    font-weight: 500;
    line-height: 150%;
    color: #7D7D7D;
    @include w768 {
      font-size: 12px;
    }
  }
}

.certificates{
  overflow: hidden;
  .h1title {
    @include w768 {
      margin-bottom: 16px;
    }
  }
  &__text{
    max-width: 1096px;
    margin-bottom: 68px;
    font-weight: 500;
    line-height: 150%;
    @include w768 {
      margin-bottom: 48px;
    }
    @include w480 {
      font-size: 12px;
      margin-bottom: 24px;
    }
  }
  &-slider{
    overflow: visible;
    .swiper-button-next, 
    .swiper-button-prev{
      transition: .2s;
      background: #FFFFFF;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      z-index: 3;
      &.swiper-button-disabled{
        opacity: 0;
      }
      &:after{
        color: #000000;
        font-size: 15px;
        transition: .1s;
      }
      @include hover{
        &:hover{
          &:after{
            color: #7D7D7D;
          }
        }
      }
    }
    &-item{
      width: 375px;
      height: 530px;
      @include w768 {
        width: 190px;
        height: 268px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}