.filter{
  flex: 0 0 312px;
  margin-right: 24px;
  padding: 30px 24px 0;
  border-radius: 3px;
  background: #FBFBFB;
  @include w768 {
    flex: 0 0 208px;
    padding: 20px 12px 0;
  }
  @include w480 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    flex: none;
    z-index: 1000;

    &.active {
      display: block;
      box-shadow: 0px 1003px 0px 1000px rgba(0,0,0,0.5);
      top: 150px;
    }
  }
  &__title{
    margin-bottom: 36px;
    font-weight: 600;
    font-size: 18px;
    @include w768 {
      margin-bottom: 24px;
    }
  }
  &__search{
    position: relative;
    margin-bottom: 24px;
    label{
      position: absolute;
      left: 16px;
      top: 8px;
      cursor: text;
    }
    input{
      width: 100%;
      border-radius: 3px;
      border: none;
      padding: 7px 0 7px 36px;
      font-weight: 500;
      background: #F5F5F5;

      @include w768 {
        font-size: 12px;
      }
    }
  }
  &-category{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    @include w768 {
      margin-bottom: 28px;
    }
    &__title{
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      align-self: flex-start;
      font-weight: 500;
      cursor: pointer;
      &:after{
        content: '';
        margin-left: 8px;
        border: 4px solid transparent; 
        border-bottom: 4px solid #0D0D0D;
        transform: translateY(3px) rotate(180deg);
      }
      &.active{
        &:after{
          transform: translateY(-1px);
        }
      }
    }
    &-inverse{
      transform: scaleX(-1);
    }
    &-content{
      transform: scaleX(-1);
      padding-right: 18px;
      display: none;
      &.active{
        display: block;
        &.filter-category-price .filter-category-inverse{
          display: flex;
        }
      }
      &.scroll{
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 2px;
        }
        &::-webkit-scrollbar-button {
          display: none;
        }
        &::-webkit-scrollbar-thumb {
          width: 2px;
          background: rgba(0, 0, 0, 0.6);
        }
        &::-webkit-scrollbar-track {
          background-color: #F5F5F5;
        }
      }
    }
    &-price{
      display: none;
      padding-right: 0;
      margin: 8px 0;
    }
    &-price .filter-category-inverse{
      align-items: center;
      label{
        position: relative;
        flex: 1;
        width: 20px;
        span{
          position: absolute;
          left: 8px;
          top: 7px;
          font-weight: 500;
          color: #9E9E9E;
          cursor: text;
        }
        input{
          width: 100%;
          height: 30px;
          padding-left: 35px;
          padding-right: 10px;
          border-radius: 3px;
          border: none;
          font-weight: 500;
          background: #F5F5F5;
          @include w768 {
            font-size: 12px;
            padding-left: 30px;
            padding-right: 6px;
          }
        }
      }
      > span{
        flex: 0 0 16px;
        height: 1px;
        margin: 0 12px;
        background: #0D0D0D;
        @include w768 {
          flex: 0 0 5px;
          margin: 0 6px;
        }
      }
    }
    &-item{
      display: flex;
      align-items: flex-start;
      padding: 8px 0; 
      cursor: pointer;

      &:first-child{
        margin-top: -8px;
      }
      input{
        display: none;
        &:checked{
          & + span:first-of-type{
            border: 1px solid #000000;
            &:before{
              display: block;
            }
          }
          & ~ span:last-of-type{
            color: #000000;
          }
        }
      }
      span:first-of-type{
        position: relative;
        flex: 0 0 18px;
        height: 18px;
        margin-right: 8px;
        border: 1px solid #9E9E9E;
        border-radius: 3px;
        &:before{
          position: absolute;
          display: none;
          content: '';
          width: 17px;
          height: 12px;
          right: -4px;
          top: 2px;
          background: url(../images/checked.svg) center/contain no-repeat;
        }
      }
      span:last-of-type{
        font-weight: 500;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.6);

        @include w768 {
          font-size: 12px;
        }
      }
    }
  }
  &__clear{
    width: calc(100% + 48px);
    margin-left: -24px;
    padding: 11px;
    border-radius: 0px 0px 3px 3px;
    border: none;
    font-weight: 500;
    color: #7D7D7D;
    text-align: center;
    background: #E0E2E9;
    cursor: pointer;
    @include w480 {
      width: calc(100% + 24px);
      margin-left: -12px;
    }
  }
}

.catalog{
  margin-bottom: 84px;
  .mycontainer{
    display: flex;
    align-items: flex-start;
    @include w480 {
      position: relative;
    }
  }
  .catalog-tab {
    display: none;
    @include w480 {
      display: flex;
      width: 100%;
    }
    &__link {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 11px 16px;
      border: 1px solid #FFFFFF;
      color: #9E9E9E;
      text-align: center;
      &:first-of-type {
        border-radius: 3px 0px 0px 3px;
      }
      &:last-of-type {
        border-radius: 0px 3px 3px 0px;
      }
      &.active {
        border-color:#496DC8;
        color: #496DC8;
      }
      @include w480 {
        font-size: 12px;
      }
    }
  }
  &-content{
    flex: 1;
  }
  &__title{
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 36px;
  }
  &-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
    @include w1024 {
      flex-direction: column;
      align-items: flex-start;
    }
    > span{
      font-weight: 500;
      color: #9E9E9E;
      @include w1024 {
        margin-bottom: 24px;
      }
    }
    &-btns{
      display: flex;
      @include w480 {
        display: none;

        &.active {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 16px;
        }
      }
    }
    &__btn{
      cursor: pointer;
      display: flex;
      input{
        display: none;
        &:checked + span{
          position: relative;
          z-index: 2;
          color: #496DC8;
          border-color: #496DC8;
          @include w480 {
            border: none;
          }
        }
      }
      span{
        padding: 7px 24px;
        font-weight: 500;
        color: #9E9E9E;
        border: 1px solid #FBFBFB;
        white-space: nowrap;
        @include w768 {
          font-size: 12px;
          padding: 7px 9px;
        }
        @include w480 {
          border: none;
          padding: 0;
        }
      }
      &:not(:last-child){
        margin-right: -1px;
        @include w480 {
          margin: 0;
        }
      }
      &:first-child span{
        border-radius: 3px 0px 0px 3px;
      }
      &:last-of-type span{
        border-radius: 0px 3px 3px 0px;
      }
      @include w480 {
        display: none;
      }
    }
    &__btn--mobile {
      display: none;
      @include w480 {
        display: block;
      }
    }
  }
  &-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    @include w1024 {
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px;
    }
    @include w480 {
      .cards-item-tags-tag {
        font-size: 8px;
        padding: 5px;
      }
      .cards-item__img {
        height: 114px;
      }
      .cards-item__title {
        font-size: 12px;
        margin-bottom: 16px;
      }
      .cards-item__price {
        font-size: 14px;
      }
      .cards-item__btn {
        width: 28px;
        height: 18px;
        padding: 5px 9px;

        &::after {
          width: 12px;
          height: 12px;
          top: 3px;
          left: 7px;
        }
      }
    }
    @include w359 {
      grid-template-columns: 1fr;
    }
    
  }
  &__more{
    margin-top: 24px; 
    padding: 11px;
    border-radius: 3px;
    font-weight: 500;
    text-align: center;
    background: #E0E2E9;
    color: #7D7D7D;
  }
  &__empty{
    margin-top: 80px;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
  }
}
.catalog-top--mobile {
  width: 100%;
  display: none;
  justify-content: space-between;
  @include w480 {
    display: flex;
  }
}

.guarantee{
  margin-top: -68px;
  margin-bottom: 92px;
  @include w768 {
    margin-top: -20px;
    margin-bottom: 72px;
  }
  &-content{
    display: flex;
    justify-content: space-between;
    @include w768 {
      flex-direction: column;
    }
  }
  &-col{
    flex: 0 0 46%;
    font-weight: 500;
    line-height: 130%;
    color: #7D7D7D;
    @include w768 {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }
}