.footer{
  background: rgba(0, 0, 0, 0.04);
  padding: 32px 0;
  @include w480 {
    padding: 24px 0 16px;
  }
  &-row{
    display: flex;
    justify-content: space-between;
    &+&{
      margin-top: 20px;
      padding-top: 12px;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      @include w480 {
        margin-top: 36px;
      }
    }
    &:first-of-type {
      @include w768 {
        position: relative;
        display: grid;
        grid-template-columns: max-content 1fr 3fr;
        column-gap: 60px;
      }
      @include w480 {
        grid-template-columns: max-content 1fr;
        grid-template-rows: 1fr max-content;
      }
    }
  }
  &-col{
    &:last-child{
      flex: 0 0 40%
    }
    &:nth-of-type(2) {
      @include w768 {
        position: absolute;
        top: 24px;
      }
      @include w480 {
        top: 91%;
      }
      @include w359 {
        top: 93%;
      }
    }
    @include w768 {
      &:first-of-type .footer__title,
      &:nth-of-type(2) .footer__title {
        position: relative;

        &::after {
          position: absolute;
          content: '';
          width: 6px;
          height: 3px;
          top: 7px;
          right: -10px;
          background-image: url('../images/icon-polygon.svg');
          background-repeat: no-repeat;
          background-position: 0 0;
        }
      }
    }
    @include w480 {
      &:nth-of-type(3) {
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: 60px;
        row-gap: 16px;
      }
      &:last-of-type {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
      }
    }
  }
  &__title{
    font-weight: 600;
    color: #0D0D0D;
    &+&{
      margin-top: 8px;
      @include w480 {
        margin-top: 0;
      }
    }
    @include w480 {
      &:nth-of-type(1) {
        order: 1;
      }
      &:nth-of-type(2) {
        order: 3;
      }
      &:nth-of-type(3) {
        order: 2;
      }
      &:nth-of-type(4) {
        order: 4;
      }
    }
  }
  &-links{
    margin-top: 16px;
    @include w768 {
      display: none;
    }
  }
  &__link{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    &+&{
      margin-top: 8px;
    }
  }
  &-subscribe{
    display: flex;
    margin-top: 16px;
    margin-bottom: 44px;
    @include w359 {
      flex-direction: column;
    }
    input{
      flex: 1;
      background: #FBFBFB;
      border-radius: 3px;
      height: 38px;
      padding: 0 20px;
      border: 1px solid #FBFBFB;
      font-weight: 500;
      color: #000000;
      &::placeholder{
        color: #B5B5B5;
      }
      @include w480 {
        font-size: 12px;
      }
      @include w359 {
        flex: none;
      }
    }
    button{
      border: none;
      flex: 0 0 200px;
      margin-left: 24px;
      cursor: pointer;

      @include w1024 {
        flex: 0 0 131px;
      }
      @include w480 {
        font-size: 12px;
        margin-left: 10px;
      }
      @include w359 {
        flex: none;
        margin-left: 0;
        margin-top: 12px;
        height: 33px;
      }
    }
  }
  &__email{
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #000000;
    text-align: right;
    a{
      display: inline-block;
      font-weight: 600;
    }
    @include w480 {
      display: none;
    }
  }
  &__text{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    a{
      display: inline-block;
      font-weight: 600;
      color: #0D0D0D;
    }
    @include w480 {
      font-size: 12px;
    }
  }
}
