.uphead{
  background: #dadada;
  position: relative;
  z-index: 5;
  position: sticky;
  top: 0;
  &-menu{
    display: flex;
    justify-content: flex-end;
    padding: 12px 0;
    &__link{
      color: rgba(0, 0, 0, 0.6);
      font-weight: 500;
      margin-left: 20px;
      &_active{
        color: #46854D;
      }
    }
  }
  @include w480 {
    display: none;
  }
}
.header{
  position: sticky;
  z-index: 4;
  top: 40px;
  background: #FFFFFF;
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.1);
	.mycontainer{
    display: flex;
    align-items: center;
    @include w480 {
      position: relative;
      padding: 20px 16px;
      &::before {
        position: absolute;
        content: '';
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: 2;
      }
    }
  }
  @include w480 {
    top: 0;
  }
  &__toggle {
    position: relative;
    display: none;
    min-width: 16px;
    height: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-right: 12px;
    z-index: 3;

    &::before {
      position: absolute;
      content: '';
      width: 16px;
      height: 2px;
      background-color: #000000;
      top: 0;
      transform: all 0.2s ease 0s;
    }
    &::after {
      position: absolute;
      content: '';
      width: 16px;
      height: 2px;
      background-color: #000000;
      bottom: 0;
      transition: all 0.2s ease 0s;
    }
    &-middle {
      width: 100%;
      height: 2px;
      background-color: #000000;
      transition: all 0.2s ease 0s;
    }
    @include w480 {
      display: flex;
      align-items: center;

      &.active {
        width: 13px;
        height: 13px;
        .header__toggle-middle {
          display: none;
          transition: all 0.2s ease 0s;
        }
        &::before {
          transform: rotate(45deg) translate(4px, 4px);
          transition: all 0.2s ease 0s;
        }
        &::after {
          transform: rotate(-45deg) translate(4px, -4px);
          transition: all 0.2s ease 0s;
        }
      }
    }
  }
  &__logo{
    width: 114px;
    margin-right: 8%;
    img{
      width: 100%;
    }
    @include w768 {
      width: 77px;
    }
    @include w480 {
      width: 66px;
      z-index: 3;
    }
  }
  &-menu{
    display: flex;
    &-item{
      height: 93px;
      letter-spacing: 0.01em;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      transition: .1s;
      position: relative;

      svg {
        display: none;
        @include w1024 {
          display: block;
          margin-left: 8px;
          margin-top: 1px;
          transform: rotate(-180deg);
          transition: 0.2s;
        }
      }
      @include w1024 {
        &.active {
          svg {
            transform: rotate(0deg);
            transition: 0.2s;
          }
          .header-menu-item-list {
            transform: none;
            left: -180%;
          }
          .header-menu-item-list{
            transform: none;
            &-links,
            &-best{
              transition: 0.3s;
              transition-delay: 0.2s;
              opacity: 1;
            }
          }
        }
      }
      &+&{
        margin-left: 24px;
        @include w768 {
          margin-left: 20px;
        }
        @include w480 {
          margin-left: 0;
        }
      }
      &_active{
        &:before{
          position: absolute;
          left: 0;
          bottom: 30px;
          width: 100%;
          height: 2px;
          background: #46854D;
          content: '';
          @include w480 {
            display: none;
          }
        }
      }
      &_fillers{
        color: #46854D;
        .header-menu-item-list {
          color: #000000;
        }
        @include w768 {
          .header-menu-item-list {
            left: -340%;
          }
          &:hover {
            .header-menu-item-list {
              left: -340%;
            }
          }
        }
        
      }
      @include hover{
        &:hover{
          .header-menu-item__link{
            color: #7D7D7D;
          }
          .header-menu-item-list{
            transform: none;
            &-links,
            &-best{
              transition: 0.3s;
              transition-delay: 0.2s;
              opacity: 1;
            }
          }
        }
      }
      @include w768 {
        font-size: 14px;
      }
      @include w480 {
        height: 30px;
        &:not(:first-of-type) {
          display: none;
        }
      }
      &__link{
        height: 100%;
        display: flex;
        align-items: center;
      }
      &-list{
        position: absolute;
        z-index: -1;
        display: flex;
        align-items: flex-start;
        padding: 24px;
        background: #fff;
        transform: translateY(-100%);
        transition: .3s;
        @include w1024 {
          left: -180%;
        }
        @include w480 {
          transform: translateY(-200%);
        }
        &-links{
          white-space: nowrap;
          margin-right: 100px;
          opacity: 0;
          transition: 0s;
          transition-delay: 0s;
          @include w768 {
            margin-right: 15px;
          }
          &__link{
            line-height: 130%;
            letter-spacing: 0.01em;
            padding: 4px 0;
          }
        }
        &-best{
          background: #F5F5F5;
          border-radius: 3px;
          padding: 8px 28px;
          display: flex;
          align-items: center;
          opacity: 0;
          transition: .2s;
          transition-delay: 0s;
          @include w480 {
            display: none;
          }
          &__img{
            margin-right: 30px;
            height: 167px;
            width: 69px;
            img{
              height: 100%;
            }
          }
          &-info{
            &__title{
              color: #0D0D0D;
              margin-bottom: 28px;
            }
            &__price{
              font-size: 18px;
              color: #0D0D0D;
              margin-bottom: 12px;
            }
            &__btn{
              font-size: 14px; 
            }
          }
        }
      }
    }

    @include w480 {
      flex-direction: column;
      z-index: 2;
    }
  }
  &-menu--mobile {
    display: none;
    @include w480 {
      position: absolute;
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 90%;
      top: 100%;
      left: 20px;
      padding: 20px;
      background-color: #FFFFFF;
      transform: translateY(-200%);
      transition: all 0.3s ease 0s;
      z-index: -1;
      .header-menu-item {
        display: block;
      }
      .header-menu.active + & {
        transform: none;
        transition: all 0.3s ease 0s;
      }
    }
    
  }
  &-info{
    display: flex;
    align-items: center;
    margin-left: auto;
    &__mail{
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.01em;
      margin-right: 70px;
      white-space: nowrap;
      transition: .1s;
      @include hover{
        &:hover{
          color: #7D7D7D;
        }
      }
      @include w1024 {
        display: none;
      }
    }
    &__icon{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      svg path{
        transition: .1s;
      }
      &_active{
        svg path{
          stroke: #46854D;
        }
      }
      @include hover{
        &:hover{
          svg path{
            stroke: #7D7D7D;
          }
        }
      }
      @include w768 {
        &_basket svg {
          width: 16px;
          height: 15px;
        }
        &_search svg {
          width: 14px;
          height: 14px;
        }
        &_lk svg {
          width: 13px;
          height: 15px;
        }
      }
      @include w480 {
        &_basket svg {
          width: 13px;
          height: 12px;
        }
        &_search svg {
          width: 12px;
          height: 12px;
        }
        &_lk svg {
          width: 11px;
          height: 13px;
        }
      }
    }
    @include w480 {
      z-index: 3;
    }
  }
}
// .header-menu-item_catalog::after {
//   position: absolute;
//   content: '';
//   width: 3px;
//   height: 6px;
//   background-image: url('../images/icon-polygon.svg');
//   background-repeat: no-repeat;
//   background-position: 0 0;
//   background-size: contain;
// }

.breadcrumbs{
  margin-top: 48px;
  margin-bottom: 40px;
  .mycontainer{
    display: flex;
    align-items: center;
  }
  svg{
    margin: 0 8px;
  }
  a{
    color: #B5B5B5;
  }
  &__item {
    @include w768 {
      font-size: 14px;
    }
    @include w480 {
      font-size: 12px;
    }
  }
  &__item:not(a){
    font-weight: 500;
    line-height: 16px;
    color: #7D7D7D;
  }
}